{% extends 'shop/basic.html' %}

{% block title %} {{product.product_name}} - MahavirChemist{% endblock title %}

{% block css %}
.js-image-zoom__zoomed-image{
  {% comment %} border: 2px solid red; {% endcomment %}
  border-radius: 10px;
  z-index: 10;
}
body{
  background: #FDF3F1;
}
.cart_btn{
  width: 370px;
  height: 46px;
  cursor: pointer;
  color: #fff;
  background-color: burlywood;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: none;
  text-decoration: none;
  padding: 5px;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 24px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  /* background-color: #007bff; */
  /* box-shadow:inset 3px 3px 6px blue,inset -3px -3px 6px black; */
  /* box-shadow:inset 3px 3px 6px #007bff,inset -3px -3px 6px black; */
  transition: transform .2s;
}

.cart_btn:hover{
  outline: none;
  transform: scale(1.01);
  box-shadow:  3px 3px 6px black,  -3px -3px 6px #fff;
}

.cart_btn:focus{
  outline: none;
}

.buy_photo{
  width: 35px;
  height: 35px;
  object-fit: contain;
  position: relative;
  right: 12px;
}

{% endblock css %}
{% block body %}
{% load static %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="row" id="img-container" style="width: 480px; height:420px;">
                <img src="/media/{{product.image}}" style="border-radius: 10px; border: 2px solid #832729 "  alt="Loading..">
            </div>
            <div class="row mt-4 mb-4">
                <button class="cart_btn"><img src="{%static 'images/Add_to_cart/icons8-buying-50.png' %}" class="buy_photo">Buy Now</button>
                {% comment %} <button class="btn btn-primary my-2 mx-1">Add To Cart</button> {% endcomment %}
            </div>
        </div>
            
        <div class="col-md-8" style="position: relative; left: 100px">
            <h4>{{product.product_name}}</h4>
            <h3>Rs.{{product.price}}</h3>
            <p>{{product.desc}}</p>
        </div>
    </div>
    <div class="ProContent">{{product.proContent|safe}}</div>
</div>

{% endblock body %}

{% block js %}
{% load static %}
<script src="https://unpkg.com/js-image-zoom/js-image-zoom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-image-zoom/js-image-zoom.min.js"></script>
<script>
  var options1 = {
    width: 400,
    zoomWidth: 500,
    offset: {vertical: 0, horizontal: 10}
};

new ImageZoom(document.getElementById("img-container"), options1);
</script>
{% endblock js %}